
<div *ngIf="!result" class="flex items-center justify-center min-h-screen">
  <div class="text-center">
      <h1 class="text-4xl font-bold mb-8">Rock, Paper, Scissors</h1>
      <p class="mb-8">Select either rock, paper, or scissors and see if you can beat the computer!</p>
      <div class="flex justify-center space-x-8 mb-8">
        <div>
          <button (click)="makeChoice('Rock')" class="text-white font-bold py-4 px-6 rounded-full mb-2">
            <fa-icon [icon]="faGem" class="text-red-400" size="2x"></fa-icon>
          </button>
          <p class="text-lg">Rock</p>
        </div>
        <div>
          <button (click)="makeChoice('Paper')" class="text-white font-bold py-4 px-6 rounded-full mb-2">
            <fa-icon [icon]="faPaperPlane" class="text-blue-400" size="2x"></fa-icon>
          </button>
          <p class="text-lg">Paper</p>
        </div>
        <div>
          <button (click)="makeChoice('Scissors')" class="text-white font-bold py-4 px-6 rounded-full mb-2">
            <fa-icon [icon]="faScissors" class="text-green-400" size="2x"></fa-icon>
          </button>
          <p class="text-lg">Scissors</p>
        </div>
      </div>
  </div>
</div>

<div *ngIf="result === 'win'" class="flex items-center justify-center min-h-screen">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-8">You Win!</h1>
    <p class="mb-8">You Chose: {{userChoice}}</p>
    <p class="mb-8">Opponent Chose: {{computerChoice}}</p>
    <button (click)="resetGame()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Play Again
    </button>
  </div>
</div>

<div *ngIf="result === 'lose'" class="flex items-center justify-center min-h-screen">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-8">You Lose!</h1>
    <p class="mb-8">You Chose: {{userChoice}}</p>
    <p class="mb-8">Opponent Chose: {{computerChoice}}</p>
    <button (click)="resetGame()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Play Again
    </button>
  </div>
</div>

<div *ngIf="result === 'tie'" class="flex items-center justify-center min-h-screen">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-8">It's a Tie!</h1>
    <p class="mb-8">You Chose: {{userChoice}}</p>
    <p class="mb-8">Opponent Chose: {{computerChoice}}</p>
    <button (click)="resetGame()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Play Again
    </button>
  </div>
</div>
